html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(orange, yellow);
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.link{
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: rgb(212, 60, 60);
}

.header__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 30px;
    font-weight: 600;
}

.header__title:hover{
    color: aqua;
    font-size: 40px;
}

.header__navList {
    display: flex;
    gap: 100px;
    text-decoration: none;
    text-align: center;
}

.header__navElement {
    font-size: 15px;
    font-weight: 400;
}

.aboutMe__section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutMe__title {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.aboutMe__info {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    max-width: 905px;
}

.aboutMe__element {
    font-size: 30px;
    font-weight: 300;
}

.img__section {
    margin-top: 100px;
}

.img__section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.img__title {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

.img {
    width: 500px;
    height: 500px;
}

.form__section {
    margin-top: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.form__name {
    padding: 10px 0;
}

.form__email {
    padding: 10px 0;
}

.form__btn{
    padding: 50px 50px;
    font-size: 10px;
}

.form__btn:hover{
    background: blueviolet;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 60, 60);
    margin-top: 150px;
}

.footer__text {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.footer__link{
    font-size: 20px;
}
